input::-webkit-input-placeholder {
    color: #C0C0C0;
}

.sale{
    font-family:PingFangSC-Semibold,PingFang SC;
}
.sale_head{
    width: 325px;
    height: 64px;
    padding: 0 28px;
    display: flex;
    align-items: center;
    background: #00C58C;
}
.sale_login{
    text-align:center;

}
.sale_login h3{
    font-size:22px;
    font-weight:600;
    color:rgba(42,42,42,1);
    line-height:30px;
    letter-spacing:1px;
    padding: 40px 0;
}
.sale_logins{
    padding:0 50px 50px;
}
.sale_logins_com{
    padding-bottom:10px;
    position: relative;
}
.sale_logins_com input{
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    line-height: 50px;
    width: 100%;
    height: 40px;
}
.sale_logins_com input:hover,.sale_logins_com input:focus{
    border:0;
    border-bottom:1px solid #00c58c;
    box-shadow: 0 0 0 0px #00c58c;
}
.sale_logins_com span{
    position: absolute;
    right:0;
    top:0;
    cursor:pointer;
    font-size:14px;
    font-weight:400;
    color:rgba(0,197,140,1);
    line-height:43px;
    letter-spacing:1px;
}
.sale_logins_but{
    padding-top:40px;
}
.sale_logins_but button{
    border: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    width:178px;
    height:45px;
    background:rgba(0,197,140,1);
    border-radius:28px;
    cursor: pointer;
}
.sale_but{
    padding:100px 0;
    text-align:center;
    display: none;
}
.sale_but button{
    width:255px;
    height:45px;
    background: rgba(0,197,140,1);
    border-radius: 28px;
    border:0;
    font-size:14px;
    cursor: pointer;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-bottom:20px;

}
input,select,option,textarea,button{outline: none;}

